DATABASE_URL=postgresql+psycopg2://smartinvoice:smartinvoice@db:5432/smartinvoice
AUTO_CREATE_TABLES=true

JWT_SECRET=cambia-esto-por-algo-seguro
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

TESSERACT_LANG=spa+eng
PDF_DPI=300
UPLOAD_DIR=uploads

BASE_URL=http://localhost:8000
RPA_HEADLESS=true

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=smartinvoice@example.com
SMTP_TLS=true
